# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
.env/
# Distribution / packaging
.eggs/
*.egg-info/
dist/
build/
wheels/
*.egg
MANIFEST

# Log files and databases
*.log
*.db
.env

# Flask specific
instance/

# OS or Editor related files
.DS_Store
*.swp
*.~
.vscode/
_archive/
Discogs/
*.code-workspace
.env
app/data/*.json
.gitignore
app/data/releases/*.json
Discogs/example.py
app/static/js/carousel copy.js
app/static/styles copy.css
app/templates/carousel copy.html
app/data.old/25404341.json
app/data.old/releases/26294276.json
app/data.old/releases/26572055.json
app/data.old/releases/32312319.json
app/data.old/releases/33339452.json
