{% extends "layout.html" %}

{% block title %}Settings{% endblock %}
{% block header %}Settings{% endblock %}

{% block content %}
<div class="settingsMenu">
    <p><strong>Username:</strong> {{ userProfile.username }}</p>
    <p><strong>Full Name:</strong> {{ userProfile.fullName }}</p>
    <p><strong>Discogs Profile:</strong> <a target="_blank" href="{{ userProfile.url }}">{{ userProfile.url }}</a></p>
    <p><strong>Number of Albums:</strong> {{ userProfile.collectionNum }}</p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.collectionRefresh() }}
        </p>
    </form>
</div>
{% endblock %}